.social-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.social-icon:hover {
    background-color: #0d6efd;
    color: #fff;
}
